p {
  font-family: Lato;
}

#root {
  padding: 30px;
}

.register-form {
  width: 450px;
  padding: 50px;
  border-radius: 12px;
  background-color: white;
}

.inventory-body {
  position: fixed;
  min-width: 100%;
  background-image: url("../../assets/loginbgimage.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-size: cover;
}

.text-center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

.container {
  padding-top: 50px;
  margin: auto;
}

.password-main {
  position: relative;
}

.password-eye {
  position: absolute;
  top: 30px;
  right: 10px;
}

.btn {
  margin-top: 20px;
  width: 200px;
}

.text-center {
  text-align: left !important;
}

.menu-box {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
}

#profile-image:hover + .menu-box {
  display: block;
}

dialog {
  height: 100px;
  width: 200px;
}

.center-btn {
  text-align: center;
  margin-left: 75px;
}

.center-btn1 {
  text-align: center;
  margin-left: 7px;
}

.img-align {
  text-align: center;
  margin-left: 60px;
}
